variables:
  DOCKER_DRIVER: overlay2

# run pipelines on master and merge requests only
workflow:
  rules:
    - if: $CI_MERGE_REQUEST_IID
    - if: $CI_COMMIT_BRANCH == "main"

#########################################################
# Backend Deployments
#########################################################

# template for backend deployments
.deploy_backend:
  image: "google/cloud-sdk:alpine"
  stage: deploy
  before_script:
    - apk add --update nodejs npm yarn
    - yarn install --frozen-lockfile --cache-folder .yarn
    - cd packages/koa-app
    - yarn build
    - npx gae-ayaml-env
    - echo $DEPLOY_KEY_FILE_PRODUCTION > /tmp/$CI_PIPELINE_ID.json
    - gcloud auth activate-service-account --key-file /tmp/$CI_PIPELINE_ID.json
  after_script:
    - rm /tmp/$CI_PIPELINE_ID.json
  cache:
    paths:
    - node_modules/
    - .yarn

# main branch deployment
deploy_backend_main:
  extends: .deploy_backend
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - packages/koa-app/**/*
  script:
    - gcloud --quiet --project $PROJECT_ID_PRODUCTION app deploy
