registry=https://registry.npmjs.org
@Dyon-Exchange:registry=https://npm.pkg.github.com
// This is the Personel Access Token which was created on GitHub
//npm.pkg.github.com/:_authToken=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
